<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | WikiFun</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
      body{
        font-family: "Roboto",serif;
      }
    </style>
</head>
<body>
    <center style="position: absolute; width: fit-content; margin: auto; height: fit-content; top: 0; right: 0; left: 0; bottom: 0">
        <form method="post" enctype="multipart/form-data">
            <input style="width: 250px; font-size: 1.5rem; border-radius: 5px; border: 1px solid rgb(200, 200, 200); padding: 5px" type="text" name="email" placeholder="Email">
            <br><br>
            <input style="width: 250px; font-size: 1.5rem; border-radius: 5px; border: 1px solid rgb(200, 200, 200); padding: 5px" type="password" name="password" placeholder="Password">
            <br><br>
            <button style="background-color: #3366cc; color: #fff; min-height: 32px; min-width: 4em; max-width: 28.75em; padding: 5px 12px; outline: none; border: none">Login</button>
        </form>
    </center>
</body>
</html>